<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - Error</title>
  <link rel="stylesheet" href="styles/style.css">
 </head>
<body>
  <% include global/header %>

  <div id="Error">
    <h2>Error Page</h2>

  </div>

  <% include global/footer %>

  <script src="scripts/scripts.js"></script>
 </body>
</html>
