<!DOCTYPE html>
<html>
  <head>
    <title>P,R,S - Results</title>
    <link rel="stylesheet" href="../styles/style.css">
  </head>
  <body>
    <% include global/header %>

  <div id="results">
    <h2> <%= user.name %> vs. Villain Results</h2>
    <p>You have chosen: <%= user.weapon %></p>
    <p>You have played against: <%= villain.name %></p>
  </div>


  <footer>
    Brought to you by the cool kids of Software Engineering - Fall, 2018.
  </footer>
  <script src="../scripts/scripts.js"></script>
  </body>
</html>
